Recommendations on virtual environment set up : 
- Python version : 3.11.4
- pelicun version :  3.2b2
- Brightway2 version : 2.4.3
- pandas version : 2.0.0
- numpy version : 1.25.2
- Scipy version : 1.11.2

NOTE : 
- The database-wide Monte Carlo library is an edited version relatively to the original (i.e: redirected to run locally, rather than from a server). 

